.fixedChild { overflow: hidden; position: absolute; }
.fixedChild .btn_close a { background: #ccc; padding: 3px 5px; color: #666; text-decoration: none!important; border: none; }
.fixedChild .btn_close a:hover { background: #666; color: #ccc; }