.bg-nav-ads li .nav-link { color: #96224c; }
.bg-nav-ads li .nav-link.active { background: #96224c !important; }
.bg-nav-ads li .nav-link.active:hover { background: #96224c !important; }

.bg-text-ads { color: #96224c; }