.global { max-width: 600px!important; margin: 40px auto; }
label.control-label > span { color: #c30; margin-left: 10px; }

.panel_ads { border-color: #ff95c3; }
.panel_ads > .panel-heading {
  color: #333;
  background-color: #ffe6f1;
  border-color: #ff95c3;
}

.label_ads { background: #96224c; }

.text_md { height: 200px!important; }