.page_foot { background: #ffe6f1; height: 40px; }
.foot_logo > a { margin-left: 15px; display: block; width: 150px; height: 0px; padding-top: 40px; overflow: hidden; background: url(../image/advert_foot.png); }
.foot_power { padding: 10px 20px; }

