body { background: #eee; }
.global { max-width: 500px!important; margin: 40px auto; }
label > span { color: #c30; margin-left: 10px; }

.panel_adms { border-color: #ff95c3; }
.panel_adms > .panel-heading {
  color: #333;
  background-color: #ffe6f1;
  border-color: #ff95c3;
}

.foot_logo > a { display: block; width: 110px; height: 0; margin: 0 auto; padding-top: 20px; overflow: hidden; background: url(../image/admin_foot.png) -20px -50px; }

