.couplet-child { position: absolute; overflow: hidden; }
.couplet-child.right { text-align: right; }
.couplet-child .btn-close a { background: #ccc; padding: 3px 5px; color: #666; text-decoration: none!important; border: none; }
.couplet-child .btn-close a:hover { background: #666; color: #ccc; }
.couplet-child img { width: 100%; }
