.bg-navbar { background: #444; width: 100%; }
.bg-navbar .bg-navbar-btn { color: #ccc; display: inline-block; padding: 10px; text-decoration: none; }
.bg-navbar .bg-navbar-btn:hover { background: #555 !important; color: #fff; }

.bg-navbar .active .bg-navbar-btn { background: #555 !important; color: #fff; }

.bg-navbar .list-inline { margin: 0; }
.bg-navbar .bg-navbar-btn .badge { color: #444; background-color: #ccc; }
.bg-navbar .bg-navbar-btn:hover .badge { color: #000; background-color: #fff; }

.bg-navbar-img { padding: 10px; }
.bg-navbar-dropdown { margin-top: 0; border-top-left-radius: 0; border-top-right-radius: 0; }

.affix {
    top: 0; left: 0; right: 0; z-index: 100; background: #fff; padding: 10px 15px; text-align: center;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .3) !important;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .3) !important;
}

.bg-overflow { overflow: hidden; }

.table .bg-child-2 { padding-left: 23px !important; }
.table .bg-child-3 { padding-left: 38px !important; }
.table .bg-child-4 { padding-left: 53px !important; }
.table .bg-child-5 { padding-left: 68px !important; }
.table .bg-child-6 { padding-left: 83px !important; }

.bg-table-empty .bg-child-2 { padding-left: 15px !important; }
.bg-table-empty .bg-child-3 { padding-left: 30px !important; }
.bg-table-empty .bg-child-4 { padding-left: 45px !important; }
.bg-table-empty .bg-child-5 { padding-left: 60px !important; }
.bg-table-empty .bg-child-6 { padding-left: 75px !important; }
