@media (max-width: 767px) {
    .bg-accordion .card { border: 0 !important; border-radius: 0; }
    .bg-accordion .card > .list-group:first-child .list-group-item:first-child {
        border-radius: 0;
    }
    .bg-accordion .card > .list-group:last-child .list-group-item:last-child {
        border-radius: 0;
    }
}

.bg-content, .bg-content * { max-width: 100% !important; }
.bg-btn-bottom { border-color: rgba(0, 0, 0, .125); border-width: 1px 0 0 0; border-radius: 0 0 .2rem .2rem; }

.table .bg-child-2 { padding-left: 23px !important; }
.table .bg-child-3 { padding-left: 38px !important; }
.table .bg-child-4 { padding-left: 53px !important; }
.table .bg-child-5 { padding-left: 68px !important; }
.table .bg-child-6 { padding-left: 83px !important; }

.bg-table-empty .bg-child-2 { padding-left: 15px !important; }
.bg-table-empty .bg-child-3 { padding-left: 30px !important; }
.bg-table-empty .bg-child-4 { padding-left: 45px !important; }
.bg-table-empty .bg-child-5 { padding-left: 60px !important; }
.bg-table-empty .bg-child-6 { padding-left: 75px !important; }
